/* MAIN BLOG */
.main {
  .main-blog {
    margin-top: 113px;
    margin-bottom: 113px;
    h2 {
      margin-bottom: 32px;
    }
    img {
      width: 100%;
      height: initial;
    }
    .main-blog-cards {
      display: flex;
      .js,
      .jsengine {
        margin-right: 20px;
      }
    }
    .js {
      h3 {
        font-weight: 600;
        font-size: 28px;
        border-left: 3px solid #5a0cb0;
        padding-left: 9px;
        margin-bottom: 16px;
      }
      img {
        margin-bottom: 22px;
      }
      p {
        font-size: 13px;
        line-height: 26px;
      }
    }
    .css3 {
      h3 {
        font-weight: 600;
        font-size: 12px;
        border-left: 3px solid #c4c4c4;
        padding-left: 6px;
        margin-bottom: 12px;
      }
      p {
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 50px;
        padding-right: 15px;
      }
    }
    .jsengine {
      img {
        margin-bottom: 21px;
      }
      h3 {
        font-weight: 600;
        font-size: 12px;
        border-left: 3px solid #c4c4c4;
        padding-left: 6px;
        margin-bottom: 11px;
      }
      .jsengine-content {
        padding-left: 17px;
        padding-right: 17px;
      }
      p {
        font-size: 11px;
        line-height: 20px;
      }
    }
    .javascript {
      h3 {
        font-weight: 600;
        font-size: 12px;
        border-left: 3px solid #c4c4c4;
        padding-left: 6px;
        margin-bottom: 5px;
      }
      .javascript-small {
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 15px;
      }
      img {
        margin-bottom: 20px;
      }
      .javascript-large {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 33px;
        font-weight: 400;
      }
      form {
        display: flex;
      }
      #email {
        width: 70%;
        height: 50px;
        border: 1px solid #c0c0c0;
        border-radius: 8px 0px 0px 8px;
        padding: 10px;
      }
      .subscribe {
        background-color: #6d0ad3;
        border-radius: 0px 8px 8px 0px;
        width: 40%;
        height: 50px;
        color: white;
      }
    }
  }
}
