.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  .header-list {
    display: flex;
    padding-top: 35px;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    .sobremi:hover,
    .portfolio:hover,
    .servicios:hover,
    .blog:hover,
    .contacto:hover {
      border-bottom: solid 3px #6d0ad3;
      border-radius: 3px;
    }
    .sobremi a:hover,
    .portfolio a:hover,
    .servicios a:hover,
    .blog a:hover,
    .contacto a:hover {
      color: #6d0ad3;
    }
  }
}