.header-logo {
    position: relative;
    width: 70px;
    height: 60px;
    .rect1,
    .rect2,
    .rect3,
    .rect4,
    .logo-label {
        position: absolute;
    }
    .rect1 {
        z-index: 1;
        margin-left: 3px;
    }
    .rect2{
        z-index: 2;
        margin-left: 5px;
    }
    .rect3 {
        z-index: 3;
        margin-left: 7px;
    }
    .rect4 {
        z-index: 4;
        margin-left: 9px;
    }
    .logo-label {
        z-index: 5;
        margin-left: 30px;
        margin-top: 20px;
        color: #6D0AD3;
        font-size: 14px;
        font-family: 'Beth Ellen', cursive;
    }
}