.main .main-portfolio h2 {
    margin-bottom: 30px;
}
.main .main-portfolio .portfolio-imagenes {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 20px;
}
.main .main-portfolio .portfolio-imagenes img {
    width: 100%;
    height: 100%;
}