.main .main-presentation {
    margin-top: 72px;
    display: flex;
    gap: 30px;
}
.main .main-presentation h4 {
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
}
.main .main-presentation h4 span {
    font-size: 40px;
    color: #00CF95;
}
.main .main-presentation p {
    font-family: 'Raleway', sans-serif;
    padding-left: 17px;
    padding-right: 60px;
    border-left: solid 3px #00CF95;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
}
.main .main-presentation .main-presentacion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.main-presentacion-button .icons {
    display: flex;
    gap: 12px;
}
.main-presentacion-button button {
    background-color: #6D0AD3;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 37px;
    padding-left: 37px;
}
.main .main-presentation .socials {
text-align: center;
}