@media (max-width: 1230px) {
    .main .main-presentation {
        display: block;
    }
    .main-presentation figure {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .main-presentation .socials {
        display: flex;
        justify-content: center;
    }
    .main .main-down {
        margin-top: 30px;
    }
    .main .main-presentation .main-presentacion-button {
        margin-top: 10px;
    }
    .main-presentacion-button .icons {
        gap: 0px;
    }
    .main .main-services .services-rectangles {
        grid-template-columns: 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
    }

    .main .main-blog .main-blog-cards {
        display: block;
    }
    .main .main-blog img {
        width: 70%;
    }

    .main .main-blog .js {
        text-align: center;
    }
    .main .main-blog .css3 {
        margin-top: 30px;
    text-align: center;
    }
    .main .main-blog .jsengine {
        margin-right: 0;
        margin-top: 10px;
        text-align: center;
    }
    .main .main-blog .javascript {
        text-align: center;
    margin-top: 30px;
}
    .main .main-contact form .contact-form {
        grid-template-columns: 1fr 1fr;
    }
    .main .main-portfolio .portfolio-imagenes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .header .header-list {
        padding-top: 52px;
    }
}
@media (max-width:770px) {
    .main .main-services .services-rectangles {
        grid-template-columns: 1fr;
        grid-template-rows: 208px 208px 208px 208px 208px 208px;
    }
    .footer .footer-nav-top {
        display: block;
        text-align: center;
    }
    .footer .footer-logo {
        display: none;
    }
    .footer .footer-nav-top h5 {
        margin-bottom: 20px;
    }
    .footer .footer-icons {
        justify-content: center;
    }
}
@media (max-width:660px) {
    .main .main-presentation .main-presentacion-button {
        display: block;
        text-align: center;
    }
    .main .main-presentation .main-presentacion-button .icons {
        justify-content: center;
    }
    .header {
        display: block;
    }
    .header .header-logo {
        display: flex;
        justify-content: center;   
    }
    .header .header-logo .logo-label {
        margin-left: 10px;
    }
    .header .header-list {
        margin-top: 52px;
        justify-content: center;
    }
}
@media (max-width:590px) {
    .header .header-list {
        display: block;
        text-align: center;
    }
    .header .header-list li {
        margin: 10px;
    }
    .footer .footer-nav-middle .footer-middle-list {
        display: block;
    }
    .footer .footer-nav-middle .footer-middle-list li {
    margin: 10px;
    }
}
@media (max-width:460px) {
    .main .main-portfolio .portfolio-imagenes {
        grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main .main-contact form .contact-form {
        display: block;
        text-align: center;
    }
    .main .main-contact form input,
    .main .main-contact form textarea
    {
    width: 95%;
    margin: 5px;
    }
}