.main {
  .main-services {
    margin-top: 60px;
    h2 {
      margin-bottom: 33px;
    }
    .rectangle {
      background: #00cf95;
      border: 5px solid #d1ffa2;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      position: relative;
      &:hover {
        border: 5px solid #5a0cb0;
        & > div {
          background-color: #5a0cb0;
          color: white;
        }
      }
      img {
        position: absolute;
        left: 27px;
        top: 27px;
      }
      .rectangle-ux {
        width: 156px;
        height: 48px;
        font-weight: 500;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      .rectangle-front {
        width: 156px;
        height: 48px;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      .rectangle-back {
        width: 156px;
        height: 48px;
        font-weight: 500;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      .rectangle-apps {
        width: 156px;
        height: 48px;
        font-weight: 500;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      .rectangle-consulting {
        width: 156px;
        height: 48px;
        font-weight: 500;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      .rectangle-cloud {
        width: 156px;
        height: 48px;
        font-weight: 500;
        background: #d1ffa2;
        color: #5a0cb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        bottom: 52px;
        right: 0;
      }
      // .rectangle-ux:hover,
      // .rectangle-front:hover,
      // .rectangle-back:hover,
      // .rectangle-apps:hover,
      // .rectangle-cloud:hover,
      // .rectangle-consulting:hover {
      //   background: #5a0cb0;
      //   color: white;
      // }
    }
    .services-rectangles {
      display: grid;
      width: 100%;
      justify-content: center;
      grid-template-columns: 308px 308px;
      grid-template-rows: 218px 218px 218px;
      gap: 20px;
    }
  }
}
