@media (max-width: 375px) {
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
        align-self: center;
        width: 80%;
        br {
            display: none;
        }
    }
    .main {
        padding: 4%;
        .modal {
            flex-direction: column-reverse;
            .modal-content {
                padding: 10% 1% 10% 1%;
                width: 100%;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 10px;
                p {
                    text-align: center;
                    width: 80%;
                    margin-bottom: 30px;
                    align-self: center;
                    font-size: 15px;
                    line-height: 25px;
                }
                .modal-numbers {
                    flex-direction: column;
                   margin: auto;
                    width: fit-content;
                    text-align: center;
                    font-size: 12px;
                    line-height: 22px;
                    gap: 23px;
                    .numbersInModal {
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
            }
            .modal-image {
                .modal-image-filter {
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 0px;
                }
                img {
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
        
    }
}