// COLORES primary
$MainBackground: hsl(233, 47%, 7%);
$CardBackground: hsl(244, 38%, 16%);
$Accent: hsl(277, 64%, 61%);

// Colores Neutral
$MainHeading: hsl(0, 0%, 100%);
$MainParagraph: hsla(0, 0%, 100%, 0.75);
$StatsHeading: hsla(0, 0%, 100%, 0.6);

// Size
$FontSize: 15px;

// Family
$FontFamilyInter: 'Inter', sans-serif;
$FontFamilyLexand:  'Lexend Deca', sans-serif;