.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-componente {
  width: 300px;
  height: 700px;
  border: 1px gray solid;
  gap: 5px;
  margin-right: 10px;
}
.main-componente-img, .main-componente-description, .main-componente-title {
  margin-bottom: 8px;
}
.main-componente img {
  width: 100%;
  height: 40%;
  display: block;
  background-color: gray;
}

.button-azul {
  background-color: blue;
  width: 200px;
  height: 30px;
  color: white;
}

.button-rojo {
  background-color: red;
  width: 200px;
  height: 30px;
  color: white;
}

.button-aqua {
  background-color: aquamarine;
  width: 200px;
  height: 30px;
  color: white;
}