.main {
    .interested {
        background-color: #316099;
        hr {
            border: 0.5px solid #FFFFFF;
            opacity: 0.4;
            margin: 0px;
        }
    }
    .interested-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 91px 203px 91px 203px;
        h4 {
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: white;
            margin-bottom: 32px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            opacity: 0.6;
            color: white;
        }
        .lets-talk {
            background-color: #5A98D0;
            padding: 15px 74px 15px 74px;
            color: white;
        }
    }
}