.footer {
    margin-top: 337px;
    background: #9ECEFA;
    padding: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        color: #87119A;
        font-weight: bold;
        }
}
