// PRIMARY Color:
$PaleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);
// NEUTRAL Color:
$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);
//HOVER color
$hoverBlue: hsl(253, 75%, 52%);

// Typography:
$ParagraphSize: 16px;
$FontFamily: 'Red Hat Display', sans-serif;