//Primary Colors
$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
//Neutral Colors
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

//Typography Body
$BodyFont: 16px;
$FontFamily: 'Karla', sans-serif;
//Weights: 400, 700