* {
  font-family: "Karla", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 16px;
}

h1 {
  color: #2ab2af;
  font-size: 25px;
}

h2 {
  color: #e5eff5;
}

h3 {
  color: #c0df34;
}

.main {
  padding: 15% 30% 15% 30%;
  background-color: #98a6bd4a;
  height: 100vh;
}
.main .main-container {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 3px 1px #80808061;
          box-shadow: 3px 3px 3px 1px #80808061;
  border-radius: 10px;
}
.main .main-top {
  background-color: #e5eff5;
  height: 45%;
  padding: 5%;
  padding-right: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .main-top p {
  color: #98a6bd;
  line-height: 25px;
  width: 100%;
  font-weight: 300;
}
.main .main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55%;
}
.main .main-left {
  background-color: #2ab2af;
  width: 50%;
  border-bottom-left-radius: 10px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .main-left .main-left-amount {
  color: #e5eff591;
}
.main .main-left .main-left-fullaccess {
  color: #e5eff5d9;
}
.main .main-left p {
  color: rgba(229, 239, 245, 0.705);
}
.main .main-left p .main-left-number {
  font-size: 30px;
  color: #e5eff5;
}
.main .main-left .main-left-button {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 12px 2px #80808094;
          box-shadow: 2px 2px 12px 2px #80808094;
}
.main .main-left button {
  background-color: #c0df34;
  color: #e5eff5;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.main .main-left button:hover {
  background-color: rgba(192, 223, 52, 0.788);
  cursor: pointer;
  color: grey;
}
.main .main-right {
  background-color: rgba(42, 178, 175, 0.781);
  width: 50%;
  border-bottom-right-radius: 10px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .main-right h2 {
  margin-bottom: 15px;
}
.main .main-right p {
  color: #e5eff5b5;
  width: 75%;
  line-height: 23px;
  font-weight: 300;
  height: 100%;
  font-size: 13px;
}

@media (max-width: 1280px) {
  .main {
    padding: 15% 28% 15% 28%;
  }
}
@media (max-width: 1080px) {
  .main {
    padding: 20% 26% 20% 26%;
  }
}
@media (max-width: 920px) {
  .main {
    padding: 25% 27% 25% 27%;
  }
  .main .main-right p {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .main {
    padding: 28% 27% 28% 27%;
  }
  .main .main-top h1 {
    font-size: 20px;
  }
  .main .main-top h3 {
    font-size: 13px;
  }
  .main .main-top p {
    font-size: 13px;
  }
  .main .main-left p {
    font-size: 13px;
  }
  .main .main-left p .main-left-number {
    font-size: 25px;
  }
  .main .main-right p {
    width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 740px) {
  .main {
    padding: 30% 25% 30% 25%;
  }
}
@media (max-width: 550px) {
  .main {
    padding: 39% 20% 39% 20%;
  }
}
@media (max-width: 550px) {
  .main {
    padding: 39% 20% 39% 20%;
  }
  .main .main-right p {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .main {
    padding: 45% 15% 45% 15%;
  }
  .main .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-right p {
    font-size: 10px;
    line-height: 18px;
  }
  .main .main-bottom {
    display: block;
    height: 60%;
  }
  .main .main-bottom .main-left {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 0px;
  }
  .main .main-bottom .main-right {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 10px;
  }
}