* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
h2 {
    color: hsl(0, 0%, 95%);
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
img {
    width: 64px;
    height: 40px;
}
button {
    border-radius: 30px;
    height: 2.5rem;
    width: 8rem;
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    margin-top: 2rem;
}
button:hover {
    cursor: pointer;
}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3,16.5rem);
    grid-template-rows: 28rem;
}
/* SEDAN */
.sedan,.suv,.luxury {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
    font-size: 1rem;
}
.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sedan button {
    color: hsl(31, 77%, 52%);
}
.sedan button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.suv {
    background-color: hsl(184, 100%, 22%);
}
.suv button {
    color: hsl(184, 100%, 22%);
}
.suv button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.luxury button {
    color: hsl(179, 100%, 13%);
}
.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
@media (max-width: 700px) {
    .main {
        height: auto;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1,20rem);
        grid-template-rows: repeat(3,25rem);
    }
    button {
        margin-top: 1rem;
    }
    .sedan {
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }
    .luxury {
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
    }
}